body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.search-bar, .form-control {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.date-filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date-input {
  width: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#accounts-table {
  margin-top: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.print-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.print-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.print-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .search-bar, .form-control {
      width: 80%;
  }

  .date-input {
      width: 100%;
  }
}
