.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: teal;
  color: #fff;
  height: 70px;
  width: 100%;
  height: 4rem;
}

.navbar-brand .heading {
  
  font-size: 160%; 
  color: #f1c40f; 
}

.navbar-links {
  /* display: flex; */
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px; 
  transition: background-color 0.3s ease;
  cursor: pointer; 
}

.nav-link:hover {
  background-color: rgb(17, 36, 36); /* Same hover effect as sidebar */
  cursor: pointer; 
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 10px; /* Add padding to match nav-links */
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: rgb(17, 36, 36); /* Same hover effect as sidebar */
  cursor: pointer; /* Mouse cursor on hover */
  color: #fff;
}
