.footer {
    background-color: #808183;
    padding: 5px; 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
}
.footer-us{
   
    text-align: left;
}

.footer div {
    margin: 5px; 
    padding: 0; 
    background-color: transparent; 
    box-shadow: none; 
    border-radius: 0; 
}

.footer h4 {
    margin-bottom: 5px; 
    font-size: 1.1em; 
    color: #06213d; 
}

.footer p {
    color: #151313;
    font-size: 0.9em; 
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}
