/*Sidebar.css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  flex-direction: column; /* Mobile-first approach */
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: teal;
  width: 100%;
  height: auto;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar .section {
  margin-bottom: 10px;
}

.sidebar .section h2 {
  color: yellow;
  margin-bottom: 10px;
  text-align: left;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  color: rgb(254, 251, 251);
  text-align: left;
  text-decoration: none;
  margin: 3px 0;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
  background-color: rgb(17, 36, 36);
  cursor: pointer;
}

@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
  }

  .sidebar {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 15%;
  }
}

.content {
  flex: 1;
  padding: 10px;
  background-color: #fcfafa;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .content {
    padding: 15px;
  }

  @media (min-width: 1024px) {
    .content {
      padding: 30px;
    }
  }
}

a.active {
  background-color: rgb(11, 65, 69);
}
