
/*.account-details {
    text-align: left; 
    margin: 0 auto; 
    max-width: 400px; 
    margin-bottom: 20px; 

*/

.print-btn,
.update-btn,
.delete-btn {
    display: inline-block; /* Inline-block for horizontal alignment */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px; /* Rounded corners */
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    min-width: 120px; /* Ensure buttons are the same width */
}

.print-btn:hover,
.update-btn:hover,
.delete-btn:hover {
    background-color: #0056b3; /* Darken color on hover */
}

.update-btn {
    background-color: #ffc107;
    color: black;
}

.update-btn:hover {
    background-color: #e0a800;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Center buttons horizontally and vertically */
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Space between buttons */
    margin: 0; /* Ensure no extra margin is applied */
    padding: 0; /* Remove any padding */
}


/* Ensure the buttons are spaced nicely */
.print-btn,
.update-btn,
.delete-btn {
    padding: 12px 30px; /* Adjust the padding for a more uniform look */
}

/* Print Styles */
@media print {
    .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table th,
    .table td {
        border: 1px solid #615e5e;
        padding: 8px;
    }

    .table thead {
        background-color: #086fd5 !important;
        color: #f8f5f5 !important;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #e1f0f1 !important;
    }

    .table tbody tr:nth-child(even) {
        background-color: #e5e7de !important;
    }

    .print-btn,
    .update-btn,
    .delete-btn {
        display: none !important;
    }
}
