/* /* .main__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main__app__container {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "area1 area1 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2";

    .sidebar__container {
        grid-area: area1;
    }
    
    
    .main__content {
        grid-area: area2;
    }
    
} */



/*
.adminpanel-container {
    display: flex;
    height: 100vh; 
  }
  
  .sidebar__container {
    width: 250px; 
    background-color: teal;
    flex-shrink: 0;

   

  }
  
  .content__container {
    flex-grow: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto; 

   
  }
  .main__content {
    grid-area: area2;
} 

*/

 .adminpanel-container {
    display: flex;
    height: 100vh; 
  }
  
  .sidebar__container {
    width: 250px; 
    background-color: teal;
    flex-shrink: 0;
  }
  
  .content__container {
    flex-grow: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
  }
  
  .main__content {
    grid-area: area2;
  }  
  
   